body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.my-cart {
  margin: 0;
  padding: 0 0 15em 0;
  background-image: url("./../../assets/list.webp");
}

@media (max-width: 767px) {
  .my-cart .save-btn {
    margin-bottom: 2em;
  }
}

.my-cart h1 {
  margin-top: 0;
  margin-left: auto;
  margin-right: auto;
  padding: 1em;
  color: black;
  text-align: center;
}

.my-cart input {
  height: 2em;
  border-radius: 8px;
  font-weight: bold;
  text-align: center;
}

.list-container {
  margin-top: 5em;
}

.list-container .list-header {
  margin-left: auto;
  margin-right: auto;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  cursor: pointer;
}

.list-container .close {
  position: absolute;
  right: 0;
  top: 0;
  padding: 12px 16px 12px 16px;
}

.list-container .close:hover {
  background-color: #b37b0e;
  color: white;
}

button {
  border: none;
  border-radius: 8px;
  background-color: goldenrod;
  color: black;
  font-weight: bold;
  padding: 0.6em 1.6em;
  cursor: pointer;
  margin: 1em auto;
}

#clear-btn:hover {
  border-color: #da9920;
  background-color: #da8920;
}

ul {
  margin-left: auto;
  margin-right: auto;
  background-color: rgba(255, 255, 255, 0.651);
  border-radius: 12px;
  width: 20em;
  list-style-type: circle;
}

ul li {
  cursor: pointer;
  position: relative;
  padding: 12px 8px 12px 40px;
  font-size: 18px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  /* make the list items unselectable */
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

ul li:hover {
  font-style: italic;
}

ul li.checked {
  text-decoration: line-through;
}

.btn-div {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
}

.btn-div .save-btn {
  border: none;
  border-radius: 8px;
  background-color: #b37b0e;
  color: white;
  font-size: medium;
  padding: 0.7em 1.5em;
  cursor: pointer;
  margin: 0 auto;
}

.existent-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.existent-list p {
  font-weight: bold;
  background-color: rgba(245, 245, 245, 0.89);
  font-size: medium;
}

h2 {
  margin-left: auto;
  margin-right: auto;
}

.header {
  overflow: hidden;
  background-color: rgba(228, 204, 156, 0.44);
  font-weight: bold;
}

.header .logo {
  margin-top: -2em;
  margin-bottom: -2em;
  width: 130px;
  height: 130px;
}

.header a {
  float: left;
  color: #b37b0e;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  border-radius: 4px;
}

.header a:hover {
  background-color: rgba(228, 204, 156, 0.44);
}

.header-right {
  float: right;
  padding-top: 15px;
}

.header a.active {
  text-decoration: underline;
}

@media (max-width: 767px) {
  .header a {
    float: none;
    display: block;
    text-align: left;
  }
  .header-right {
    float: none;
  }
}

hr {
  margin-top: 7em;
  margin-bottom: 2em;
  width: 80%;
  border: 0.5px solid #b37b0e;
}

.footer-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.footer-container img {
  margin-top: -2em;
  width: 130px;
  height: 130px;
}

@media (max-width: 767px) {
  .footer-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }
  .footer-container img {
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
  }
}
/*# sourceMappingURL=my-cart.css.map */