@import "./../../assets/colors.scss";
@import "./../../assets/mediaqueries.scss";

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  background-image: url("./../../assets/photo-1476224203421-9ac39bcb3327.webp");
  background-repeat: no-repeat;
  background-size: cover;
 
}
h3 {
  color: black;
  text-align: center;
  font-size: 2.5em;
  font-family: Oregano;
  margin-bottom: 0.5em;
}

// HEADER:
.header {
  overflow: hidden;

  .logo {
    margin-top: -2em;
    margin-bottom:-2em;
    width: 130px;
    height: 130px;
  }
}

.header-right {
  float: right;
  padding-top: 15px;
}

.header a {
  float: left;
  color: white;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  border-radius: 4px;
}

.header a:hover {
  background-color: $beige;
}

.header a.active {
  text-decoration: underline;
}

@include respond-to("sm") {
  .header a {
    float: none;
    display: block;
    text-align: left;
  }
  .header-right {
    float: none;
  }
}

// FORM:

.container {
  margin-left: auto;
  margin-right: auto;
  font-size: large;
}

.form-container {
  margin-left: auto;
  margin-right: auto;
  width: 10em;
  background-color: rgba(255, 255, 255, 0.692);
  color: $gold;
  font-weight: bold;
  padding: 2em 4em 0.5em;
  border-radius: 5%;
  display: flex;
  flex-direction: column;

  input {
    margin-top: 0.5em;
    height: 1.7em;
  }
  a {
    margin: 10px;
    color: $gold;
    text-align: center;
    font-size: small;
  }
}

button {
  font-size: medium;
  border: none;
  border-radius: 8px;
  background-color: $gold;
  color: black;
  font-weight: bold;
  padding: 0.7em 1.7em;
  cursor: pointer;
  display: block;
  margin: 0 auto;
}
