@import "./../../assets/colors.scss";
@import "./../../assets/mediaqueries.scss";

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    background-image: url("./../../assets/photo-1476224203421-9ac39bcb3327.webp");
    background-repeat: no-repeat;
    background-size: cover;
}
h3 {
    color: black;
    text-align: center;
    font-size: 2.5em;
    font-family: Oregano;
    margin-bottom: 0.5em;
}

// HEADER:
.header {
    overflow: hidden;

    .logo {
        margin-top: -2em;
        margin-bottom: -2em;
        width: 130px;
        height: 130px;
    }
}

.header-right {
    float: right;
    padding-top: 15px;
}

.header a {
    float: left;
    color: white;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    border-radius: 4px;
}

.header a:hover {
    background-color: $beige;
}

.header a.active {
    text-decoration: underline;
}

@include respond-to("sm") {
    .header a {
        float: none;
        display: block;
        text-align: center;
    }
    .header-right {
        float: none;
    }
}

// FORM:

.container {
    margin-left: auto;
    margin-right: auto;
    font-size: large;
}

form {
    display: flex;
    flex-direction: column;
}
.form-container {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5em;
    width: 10em;
    background-color: rgba(255, 255, 255, 0.692);
    color: $gold;
    font-weight: bold;
    padding: 2em 4em 0.5em;
    border-radius: 12px;
    display: flex;
    flex-direction: column;

    input {
        margin-bottom: 2em;
        height: 1.7em;
    }
    input:hover {
        border: 2px solid $gold;
    }
    a {
        cursor: pointer;
        margin: 1em 0;
        color: $gold;
        text-align: center;
        font-size: small;
    }
    #link {
        background-color: rgba(214, 129, 19, 0.788);
        color: black;
        padding: 1em 3em;
        border-radius: 8px;
        text-decoration: underline;
        margin: 0 auto;
    }
}

// button {
//     font-size: medium;
//     border: none;
//     border-radius: 8px;
//     background-color: $gold;
//     color: black;
//     font-weight: bold;
//     padding: 0.7em 1.7em;
//     cursor: pointer;
//     display: block;
//     margin: 0 auto;
// }
