body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

#quote {
  font-size: larger;
  font-weight: bold;
  text-align: center;
  font-family: cursive;
  font-style: italic;
}

.filter-container {
  background-image: url("./../../assets/kitchen.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 1em;
  font-size: 18px;
}

.filter-container .categories,
.filter-container .specific,
.filter-container .price {
  margin-right: 2em;
}

.filter-container .filter-types {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.recipes-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  text-align: center;
}

.recipes-container .recipe {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: rgba(255, 243, 227, 0.664);
  margin: 1em;
  padding: 0.5em;
  width: 20em;
  overflow: hidden;
}

.recipes-container .recipe .img-none {
  width: 100%;
  height: 25em;
}

.recipes-container .recipe img {
  width: 20em;
  height: 15em;
}

.recipes-container .recipe .title {
  font-weight: bold;
  word-wrap: break-word;
}

.recipes-container .recipe #description {
  max-height: 3em;
  font-style: italic;
}

h2 {
  margin-top: 2em;
  color: #b37b0e;
  text-align: center;
}

button {
  cursor: pointer;
  margin: 2em 2em 0 2em;
  max-height: 4em;
  padding: 1em;
  background-color: #b37b0e;
  border: none;
  border-radius: 12px;
  color: white;
  font-weight: bold;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.header {
  overflow: hidden;
  background-color: rgba(228, 204, 156, 0.44);
  font-weight: bold;
}

.header .logo {
  margin-top: -2em;
  margin-bottom: -2em;
  width: 130px;
  height: 130px;
}

.header-right {
  float: right;
  padding-top: 15px;
}

.header a {
  float: left;
}

a {
  cursor: pointer;
  color: #b37b0e;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  border-radius: 4px;
}

a:hover {
  background-color: rgba(228, 204, 156, 0.44);
}

.header a.active {
  text-decoration: underline;
}

@media (max-width: 767px) {
  .header a {
    float: none;
    display: block;
    text-align: center;
  }
  .header-right {
    float: none;
  }
}

hr {
  margin-top: 7em;
  margin-bottom: 2em;
  width: 80%;
  border: 0.5px solid #b37b0e;
}

.footer-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.footer-container img {
  margin-top: -2em;
  width: 130px;
  height: 130px;
}

@media (max-width: 767px) {
  .footer-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }
  .footer-container img {
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
  }
}
/*# sourceMappingURL=home.css.map */